*{
    margin: 0px;
    padding: 0px;
}
:root{
    --nav1-height: 59px;
}

#nav1{
    display: flex;
    align-items: right;
    position:sticky;
    color:rgb(246, 241, 167);
    text-align: right;
    background-color: rgba(193, 1, 193, 0.767);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6c6e3;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(250, 171, 243, 0.859);
  z-index: 1;
}
.dropdown-content a {
  color: rgb(250, 242, 242);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
    background-color: #f1f1f1
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: #ef8fd4;
}
 
#nav2{
    display: flex;
    align-items: center;
    position: sticky;
}

#nav2 ul li{
    list-style: none;
}

#nav2 ul{
    display: flex;
}
#nav2::before{
    content: " ";
    background-color: rgb(216, 160, 213);
    position: absolute;
    height: 95%;
    width: 100%;
    top:0px;
    left: 0px;
    z-index: -1;
    opacity: 6.5;
}


#nav2 ul li a{
    color:rgb(108, 4, 68);
    display:block;
    padding:3px 22px;
    border-radius: 30px;
}
#nav2 ul li a:hover{
    color:rgb(244, 242, 243);
    background-color: rgb(219, 123, 198);
}

#class1 form{
    width:100%;
}

#class1 textarea{
    height: 50px;
}
#class1 input,
#class1 textarea{
    width: 190px;
    padding: 0.3rem;
    border-radius: 10px white;
    font-size: 1.1rem;
    border-color: rgb(251, 251, 250);
    background-color: rgb(246, 179, 235);
    opacity: 0.8;
    color: rgb(17, 16, 16);
}
.advertisment img:hover {
    zoom: 1.1;
}

.btn{
    padding: 6px 20px;
    border: 2px solid rgb(248, 60, 176);
    border-radius: 10px;
    background-color: rgb(251, 67, 199);
    color: rgb(243, 241, 241);
    margin: 13px;
    font-size: 1.1rem;
    cursor:pointer;
}

#sales{
    margin: 34px;
    display: flex;
}

#sales .box{
    padding: 10px 10px 0px 6px;
    margin: 3px 6px;
    border-radius: 4px;
}

#sales .box img{
    display: block;
    margin: auto;
    text-align: center;
    
}

.p1 {
    font-family: Arial, Helvetica, sans-serif;
  }
  
#launch{
    position:relative;
    text-decoration: aliceblue;
}
#launch::before{
    content:"";
    position:absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}
#newLaunchId{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
}

#newLaunchId img{
    height: 550px;
    width:"450px";
    border-radius: 10px;
}
.poster{
    padding: 34px;
    text-decoration: aliceblue;
}

div.advertisment {
    background-color: #f5d6ea;
    overflow: auto;
    white-space: nowrap;
    padding: 12px;
}
  
div.advertisment img {
  padding: 10px;
}

.c1 {
  position: relative;
  width: 50%;
  max-width: 690px;
}
.c2 {
  position: absolute;
  width: 100%;
  background: rgba(96, 5, 127, 0.5); 
  transition: .5s ease;
  opacity: 0;
  font-size: 20px;
  text-align: center;
}
.c1:hover .c2 {
  opacity: 1;
}

#id-4{
    position:relative;
}
#id-4::before{
    content:"";
    position:absolute;
}
#i1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 20px 20px 20px;
    background-color: #f9eaf4;
}
